<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piotr.osluchajsiesam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Nauka" />
        <activity android:name=".Testy" />
        <activity android:name=".Kardio" />
        <activity android:name=".Pulmono" />
        <activity android:name=".PrawidloweTonySerca" />
        <activity android:name=".JakOsluchiwac" />
        <activity android:name=".IIItonserca" />
        <activity android:name=".IVtonserca" />
        <activity android:name=".StenozaZastawkiAortalnej" />
        <activity android:name=".NiewydolnoscZastawkiAortalnej" />
        <activity android:name=".StenozaZastawkiMitralnej" />
        <activity android:name=".NiedomykalnoscZastawkiMitralnej" />
        <activity android:name=".ASDS" />
        <activity android:name=".VSO"></activity>
    </application>

</manifest>